/.QuickGUIRuntimeModule.java._trace
/.QuickGUIRuntimeModule.xtendbin
/.QuickGUIStandaloneSetup.java._trace
/.QuickGUIStandaloneSetup.xtendbin
/QuickGUIRuntimeModule.java
/QuickGUIStandaloneSetup.java
